

body, html {
    height: 100vh;
    margin: 0;
    font-family: "georama";
    font-stretch: semi-expanded;
}

.grey_font {
    color: #676767;
}





#page_desc_container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

#page_desc {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    width: 30%;
}

#desc_home {
    font-weight: bold;
}

#desc_page_name {
    font-size: 25px;
    font-weight: bold;
}



#create_keys_button_div {
    display: flex;
    width: 70%;
    justify-content: right;
    height: 100%;
    align-items: center;
}

#create_keys_button {
    width: 100px;
    height: 54%;
    background-color: #D6223A;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}



#history_keys_title {
    display: inline-block;
    height: 30px;
    font-weight: 600;
}



#content_table {
    position: relative;
    /* top: 50%; */
    top: 50px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

table {
    width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
}



th,
td {
	/* padding: 15px; */
    /* border: 1px solid black; */
	color: black;
    height: 9vh;
    
    text-align: start;
    padding-left: 15px;
}

thead {
	th {
		background-color: #c2cbd9;
	}
}

tbody {
    background-color: white;
	tr {
		&:hover {
			background-color: rgb(235, 234, 234);
		}
        
	}
}
.keyVal:hover{
    text-decoration:underline;
    cursor: pointer;
}
.copyBtnDiv{
    left: 15px;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 75%;
    /* display: none; */
    opacity: 0;
    justify-content: center;
    transform: translateY(8px);
    transition: all ease-in 0.3s;
}
.copyBtnDiv p{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #111;
    padding: 3%;
    color: white;
    border-radius:5px ;
    font-size: 0.8em;
}
.generatedApiPart{
    position: relative;
}
.generatedApiPart:hover{
    .copyBtnDiv{
        opacity: 1;
        display: flex;
        transform: translateY(0px);
    }
}
.secKeyCreate button{
    /* padding: 5%;
    border: 1px solid #e4e4e4;
    position: relative;
    background-color: transparent;
    z-index: 2; */
    margin-left: -20px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    
}
.secKeyCreate button:hover {
    /* background-color: red; */
    rect {
        fill: #d6223a;
    } 
}

.secKeyCreate{
    position: relative;
}
.allBlur{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.spinnerPart{
    z-index: 2;
    position: absolute;
    /* left: -14%; */
    bottom: -26%;
    scale: 0.8;
    z-index: 1;
}

#ifNoKey{
    text-align: center;
    /* width: 22%; */
    width: 100%;
    height: 50svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#ifNoKey:hover{
    #imageHoverNoKey{
        opacity: 0.3;
    }
}
#imageShowTableNoKey{
    
    position: relative;
    display: flex;
    justify-content: center;
}
#ifNoKey img{
    width: 30%;
}
#ifNoKey p{
    color: #333;
    font-size: 3em;
}
#imageHoverNoKey{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
}

.genSecKeyTd{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.genSecKeyBtn{
    font-size: 0.8em;
    border-radius: 5px;
    padding: 3%;
    position: absolute;
    background-color: #111;
    color: white;
    top: -10%;
    opacity: 0;
    transform: translateY(5px);
    transition: all ease-out 0.1s;
    z-index: 3;
    width: 100%;
    text-align: center;
}
.genSecKeyTd:hover{
    .genSecKeyBtn{
        opacity: 1;
        transform: translateY(-3px);
    }
}



@media only screen and (max-width: 600px) {
    .grey_font {
        font-size: 10px;
    }

    #desc_page_name {
        font-size: 15px;
    }

    /* #page_desc_container {

    } */

    #create_keys_button {
        width: 70px;
        font-size: 10px;
        height: 60%;
    }

    table {
        font-size: 10px;
    }
    

}

.borderColorDisableIdentifier{
    position: absolute;
    height: 100%;
    background-color: #595959;
    width: 0.5%;
    top: 0;
    margin: auto;
}
.myHomeRow{
    position: relative;
}
.disableShowDiv{
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #111;
    color: white;
    padding: 1%;
    border-radius: 6px;
    transition: scale ease-out 0.05s;
}
.search-container {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 400px;
}

.search-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #007bff;
    outline: none;
}

.search-input::placeholder {
    color: #999;
}

.search-container .search-input {
    padding-left: 40px;
}

.search-container::before {
    content: "\f002"; /* FontAwesome search icon */
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}
.cust-pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px; /* Margin between table and pagination */
}

.cust-pagination .ng-star-inserted {
    margin: 0 5px;
}

.cust-pagination .ng-star-inserted a {
    text-decoration: none;
    color: #007bff;
}

.cust-pagination .ng-star-inserted a.active {
    font-weight: bold;
}  
