<app-side-bar (keyCardAdd)="addKeyCard($event)"></app-side-bar>
<div class="allBlur" *ngIf="keypage.createKeyBool"></div>

    

        
        <div id="page_desc_container">
            <div id="page_desc">
                <div id="desc_home" class="grey_font">Home</div>
                <div id="desc_page_name">Create Keys</div>

            </div>
            <div id="create_keys_button_div">
                <button id="create_keys_button" (click)="handleOnCreate()" class="redBtnEffect"> + Create</button>
            </div>
        </div>

        <div id="history_keys_title" class="grey_font">History of Created Keys</div>
        <div id="table_container">
            <table>
                <table>
                    <thead>
                        <tr>
                            <th>Application Name</th>
                            <th>Owner Name</th>
                            <th>Contact Number</th>
                            <th>Passkey</th>
                            <th>Secret Key</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let i of apiHome">
                        <tr>
                            <td>{{i.applicationName}}</td>
                            <td>{{i.ownerName}}</td>
                            <td>{{i.contactNo}}</td>
                            <td class="generatedApiPart" (click)="handleOnCopyClick(i.key)">
                                <div class="copyBtnDiv">
                                    <p class="copyBtn">Click to copy</p>
                                </div>
                                <p class="keyVal">{{i.key.slice(0,20)}}...</p>
                            </td>
                            <td class="generatedApiPart" (click)="handleOnCopyClick(i.secKey)">
                                <div class="copyBtnDiv">
                                    <p class="copyBtn">Click to copy</p>
                                </div>
                                <p class="keyVal">{{i.secKey.slice(0,20)}}...</p>
                            </td>
                            <td class="secKeyCreate genSecKeyTd">
                                <div class="timePartOnLogs genSecKeyBtn">Edit Key</div>
                                <button (click)="handleOnEditKeyPressed(i.key)"><i
                                        class="fa-solid fa-play"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
            <div id="ifNoKey" *ngIf="apiHome.length === 0" (click)="handleOnCreate()">
                <div id="imageShowTableNoKey">
                    <div id="imageHoverNoKey"></div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/6_key_copy.svg/640px-6_key_copy.svg.png"
                        alt="">
                </div>
                <p>No keys to Display</p>

            </div>
        </div>