<div id="container">

    <p-dialog header="Your Vahan Status" [(visible)]="visibleVahan" [modal]="true" [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <div class="IfCorrectVahan" *ngIf="this.ifVahanFit">

            <div class="imgDisplayIsCorrectVahan">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/81191554933123.596f89a9597ff.gif"
                    alt="" />
            </div>
            <div class="imgDisplayIsCorrectVahanP">
                <p>The Vehicle is fit to go</p>
            </div>

        </div>
        <div class="IfCorrectVahan" *ngIf="!this.ifVahanFit">

            <div class="imgDisplayIsWrongVahan">
                <img src="https://static.vecteezy.com/system/resources/previews/025/782/666/original/wrong-icon-free-vector.jpg"
                    alt="" />
            </div>
            <div class="imgDisplayIsCorrectVahanP">
                <p>Your Vehicle is not fit to go</p>
            </div>
            <div class="WrongVahanList">
                <ol *ngFor="let i of this.VahanUnfitList">
                    <li>{{i}}</li>
                </ol>
            </div>

        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="visibleVahan = false" label="Ok" pAutoFocus
                [autofocus]="true"></p-button>
        </ng-template>
    </p-dialog>
    <div id="input_api_info_container">
        <div id="api_name_container">
            <p>Enter API name : </p>
            <div id="dropdown_container" class="card flex justify-content-center">
                <p-dropdown (onChange)="handleOnUlipClick()" [options]="ulipArr" [(ngModel)]="selectedUlipArr"
                    placeholder="Select an API" [editable]="true"></p-dropdown>
            </div>
        </div>
        <div id="api_version_container">
            <p>Enter API version : </p>
            <div id="dropdown_container" class="card flex justify-content-center">
                <p-dropdown [options]="versionUlip" (onChange)="handleOnVersionChange()" [(ngModel)]="selectedVersion"
                    placeholder="Select API version" [editable]="true"></p-dropdown>
            </div>
        </div>

        <div id="submit_button_div">
            <button id="submit_button" class="redBtnEffect" (click)="handleOnSubmitRequest()">Submit</button>
        </div>
    </div>

    <p-splitter [style]="{ height: '100%' }" styleClass="mb-5" layout="horizontal">
        <ng-template pTemplate>
            <div id="panel_1" class="col flex align-items-center justify-content-center">


                <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown> -->
                <div id="v_no_input_container">
                    <p>Request</p>
                    <p-table id="input_table" [value]="takeInputObjArr">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th></th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-resDataObjArr let-i="rowIndex">
                            <tr>
                                <td class="labels">{{ resDataObjArr.dt }}</td>
                                <td class="input_field">
                                    <!-- <input id="table_inputs" type="text" pInputText formControlName="text"/>  -->
                                    <input *ngIf="resDataObjArr.dt !=='Date of Birth'"
                                        (change)="handleOnChangeInputs(i)" type="text" pInputText
                                        [(ngModel)]="textInputUlip[i]" />
                                    <div class="card flex justify-content-center">
                                        <p-calendar *ngIf="resDataObjArr.dt ==='Date of Birth'"
                                            [(ngModel)]="textInputUlip[i]" [touchUI]="true"
                                            [readonlyInput]="true"></p-calendar>
                                    </div>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div id="panel_2" class="col flex align-items-center justify-content-center">
                <div id="output_container">
                    <p>Response</p>
                    <div *ngIf="this.selectedUlipArr !== 'LDB' && this.selectedUlipArr!=='ECHALLAN' ">


                        <div [style]="{display:'flex', flexDirection:'column', gap:'5px'}"
                            *ngFor="let i of outputObjCompleteArr; let index = index">

                            <p-table id="output_table" [value]="i">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{this.tableOutputHeader[index]}}</th>
                                        <th>{{i.length === 0?'Nothing to display':''}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-i>
                                    <tr>
                                        <td class="labels">{{ i.dt }}</td>
                                        <td class="output_field">{{ i.vl }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <table id="output_table" *ngIf="this.onLoading">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>

                            <tr>
                                <td class="labels"><p-skeleton></p-skeleton></td>
                                <td class="output_field"><p-skeleton></p-skeleton></td>
                            </tr>
                            <tr>
                                <td class="labels"><p-skeleton></p-skeleton></td>
                                <td class="output_field"><p-skeleton></p-skeleton></td>
                            </tr>

                        </table>
                    </div>
                    <div *ngIf="this.selectedUlipArr === 'ECHALLAN'">

                        <div class="card" *ngFor="let i of outputObjCompleteAllChallan; let index = index">

                            <p-tabView *ngIf="this.onLoading === false">
                                <p-tabPanel header={{this.allOutputTabs[index]}}>
                                    <div [style]="{display:'flex', flexDirection:'column', gap:'50px'}"
                                        *ngFor="let j of i; let index = index">

                                        <table *ngFor="let k of j">
                                            <thead>
                                                <th></th>
                                                <th></th>
                                            </thead>
                                            <tr *ngFor="let l of k">
                                                <td>
                                                    <div class="dtSide">{{l.dt}}</div>
                                                </td>
                                                <td>
                                                    <div class="vlSide">{{l.vl}}</div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </p-tabPanel>

                            </p-tabView>
                        </div>
                    </div>
                    <div *ngIf="this.selectedUlipArr === 'LDB'" class="card">
                        <table id="output_table" *ngIf="this.onLoading">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>

                            <tr>
                                <td class="labels"><p-skeleton></p-skeleton></td>
                                <td class="output_field"><p-skeleton></p-skeleton></td>
                            </tr>
                            <tr>
                                <td class="labels"><p-skeleton></p-skeleton></td>
                                <td class="output_field"><p-skeleton></p-skeleton></td>
                            </tr>

                        </table>

                        <p-tabView *ngIf="this.onLoading === false">
                            <p-tabPanel header="eximContainerTrail">
                                <div [style]="{display:'flex', flexDirection:'column', gap:'50px'}"
                                    *ngFor="let i of outputObjCompleteArrLDB1; let index = index">

                                    <table *ngFor="let j of i">
                                        <thead>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tr *ngFor="let k of j">
                                            <!-- <div [style]="{display:'flex', gap:'10px'}">
                                        <div class="dtSide">{{k.dt}}</div>
                                        <div class="vlSide">{{k.vl}}</div>

                                    </div> -->
                                            <!-- <tr> -->

                                            <td>
                                                <div class="dtSide">{{k.dt}}</div>
                                            </td>
                                            <td>
                                                <div class="vlSide">{{k.vl}}</div>
                                            </td>

                                            <!-- </tr> -->

                                        </tr>
                                    </table>

                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="domesticContainerTrail">
                                <div [style]="{display:'flex', flexDirection:'column', gap:'50px'}"
                                    *ngFor="let i of outputObjCompleteArrLDB2; let index = index">

                                    <table *ngFor="let j of i">
                                        <thead>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tr *ngFor="let k of j">
                                            <!-- <div [style]="{display:'flex', gap:'10px'}">
                                        <div class="dtSide">{{k.dt}}</div>
                                        <div class="vlSide">{{k.vl}}</div>

                                    </div> -->
                                            <!-- <tr> -->

                                            <td>
                                                <div class="dtSide">{{k.dt}}</div>
                                            </td>
                                            <td>
                                                <div class="vlSide">{{k.vl}}</div>
                                            </td>

                                            <!-- </tr> -->

                                        </tr>
                                    </table>

                                </div>
                            </p-tabPanel>
                        </p-tabView>



                    </div>

                </div>
            </div>
        </ng-template>
    </p-splitter>
</div>