#big_container {
    display: flex;
    height: 100%;
}

#left_container {
    width: 20%;
    background-color: #F9FAFB;
    height: 100svh;
    display: inline-block;
    position: sticky;
    left: 0;
    display: flex;
    top: 0;
    flex-direction: column;
    gap: 21px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



#mahindra_logo {
    width: 80%;
    padding: 4%;
    padding-left: 6%;
}


.grey_font {
    color: #222;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

/* .grey_font:hover{
    color: white;
} */
.grey_font::after {
    background-color: #D6223A;
    transition: all ease-out 0.1s;
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    color: white;
    left: 0;
    z-index: -1;
    top: 0;

}

.grey_font:hover::after {
    width: 100%;
}

.grey_font:hover {
    color: white;
}

#pwsld {
    padding: 20px;
    position: relative;
    font-weight: bold;
    top: 20px;
}

#MrKCgSxHMeTD2Rk {
    padding: 20px;
    /* list-style-image: url(./key.png) ; */
}

#cNKt81CvfXNk5Of {
    padding: 20px;
}

#right_container_div {
    width: 79%;
}

#right_container {
    padding: 20px;
    width: 100%;
    display: inline-block;
    flex-direction: column;
    background-color: #F3F3F4;
    /* Example background color */
    overflow: auto;
}

#VYFc1qozkId5mra {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#toggle_menu_div {
    width: 20%;
}


#toggle_menu {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 20%;
}

#person_id_profile {
    justify-content: right;
    display: flex;
    width: 80%;
    gap: 3px;
    align-items: center;

}
.filterDiv{
    position: relative;
}

#menuProfileBtn{
    background-image: url('https://i.pinimg.com/1200x/b1/88/c6/b188c6801ad1d71d3c962c6e4aa2d0cf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 147%;
    border: none;
}
.profileLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.labelPrfName{
    font-weight: bold;
}