<header>
    <div class="image">
      <img src=".\Assets\Mahindra_logistics.png" alt="Mahindra Logistics Logo" />
    </div>
    <h1>Profile Dashboard</h1>
    <img src="profile_photo.jpg" alt="Profile Photo" class="profile-photo" />
  </header>

  <div class="profile-container">
    <form>
      <div class="input_field">
        <label for="username" class="headers">Username:</label>
        <input type="text" id="username" name="username" class="in" required />
      </div>
      <hr>

      <div class="input_field">
        <label for="firstName" class="headers">First Name:</label>
        <input type="text" id="firstName" name="firstName" class="in" required />
      </div>

      <div class="input_field">
        <label for="lastName" class="headers">Last Name:</label>
        <input type="text" id="lastName" name="lastName" class="in" required />
      </div>

      <div class="input_field">
        <label for="occupation" class="headers">Occupation:</label>
        <input type="text" id="occupation" name="occupation" class="in" required />
      </div>

      <div class="input_field">
        <label for="email" class="headers">Email:</label>
        <input type="email" id="email" name="email" class="in" required />
      </div>

      <div class="input_field">
        <label for="contactNumber" class="headers">Contact Number:</label>
        <input type="tel" id="contactNumber" name="contactNumber" class="in" required />
      </div>

    </form>
  </div>