* {
  margin: 0;
  padding: 0;
}

#body_container {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  
  display: flex;
  flex-direction: column;
}

#title_container {
  height: 10%;
  width: 100%;
  /* background-color: rgb(241, 163, 163); */
  
  display: flex;
  align-items: center;
  justify-content: start;

  font-weight: bold;
  font-family: "georama";
  font-stretch: semi-expanded;
  font-size: 26px;
}

#body_subcontainer {
  height: 80%;
  width: 100%;
  padding: 20px;
  /* background-color: rgb(156, 130, 130); */

  display: flex;
  align-items: start;
  justify-content: start;
}

#profile_container {
  /* height: 100%; */
  width: 65%;
  padding: 10px;
  background-color: white;

  /* border: 1px solid black; */
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_container {
  height: 30px;
  width: 100%;
  
  display: flex;
  align-items: center;
  gap: 10px;
}

.label_font {
  /* color: #97999B; */
  color: black;
  position: relative;
  font-weight: 550;
  font-size: 18px;
  font-family: "georama";
  font-stretch: semi-expanded;
}

.input_container p {
  /* width: 150px; */
  width: 30%;
}

.input_field {
  height: 30px;
  /* width: 500px; */
  width: 70%;
  border-radius: 5px;
}

#save_btn_container {
  height: 80px;
  width: 100%;

  display: flex;
  align-items: end;
  justify-content: end;
}

#save_button {
  height: 50%;
  width: 100px;
  background-color: #D6223A;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-family: 'georama';
  font-stretch: semi-expanded;
  font-size: 14px;
}

@media only screen and (max-width: 500px) {
  #profile_container {
      width: 100%;
  }
  .input_container {
      flex-direction: column;
      gap: 0px;
  }
  .input_container p {
      width: 100%;
  }
  .input_field {
      width: 100%;
  }
  #save_btn_container {
      height: 40px;
  }
  #save_button {
      width: 70px;
      height: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #title_container {
      font-size: 15px;
  }

  .label_font {
      font-size: 10px;
  }

}