body {
    text-align: left;
    font: normal normal bold 30px/33px Georama SemiExpanded;
    letter-spacing: 0px;
    color: #434141;
    opacity: 1;

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: right;
    min-width: 100vh;
  }

  header {
    background-color: #fafafc;
    color: #d6223a;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


  }

  .image {
    width: 12%;
    height: 25%;
    padding-top: 0%;
  }

  .image img {
    width: 100%;
    height: 100%;
  }

  .profile-photo {
    align-self: flex-end;
    margin-bottom: 20px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-container {
    flex: 1;
    width: 100%;
    max-width: 600px;
    padding-right: 5px;


    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5%;
  }

  form {
    display: grid;
    grid-gap: 10px;
    height: 100%;
  }

  label {
    font-weight: bold;
  }

  .headers {
    text-align: left;
    font: normal normal bold 14px/17px Georama SemiExpanded;
    letter-spacing: 0px;
    color: #a8a8a8;
    opacity: 1;
    height: 4%;
  }

  input,
  select {
    width: 100%;
    padding-left: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7;
  }

  .input_field {
    background-color: #f7f7f7;
    padding-left: 6px;

  }

  .in {
    text-align: left;
    font: normal normal medium 16px/19px Georama SemiExpanded;
    letter-spacing: 0px;
    color: #707175;
    opacity: 1;
  }