body, html {
    height: 100vh;
    margin: 0;
    font-family: "georama";
    font-stretch: semi-expanded;
}

.grey_font {
    color: #676767;
}


#page_desc_container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

#page_desc {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#desc_home {
    font-weight: bold;
}

#desc_page_name {
    font-size: 25px;
    font-weight: bold;
}


#content_table {
    position: relative;
    /* top: 50%; */
    top: 50px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

table {
    width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
}


#content_table {
    position: relative;
    /* top: 50%; */
    top: 50px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

table {
    width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
}



th,
td {
	/* padding: 15px; */
    /* border: 1px solid black; */
	color: black;
    height: 9vh;
    
    text-align: center;
}

thead {
	th {
		background-color: #DDE2EA;
	}
}

tbody {
    background-color: white;
	tr {
		&:hover {
			background-color: rgb(235, 234, 234);
		}
        
	}
}


.keyVal:hover{
    text-decoration:underline;
    cursor: pointer;
}
.copyBtnDiv{
    left: 15px;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 75%;
    /* display: none; */
    opacity: 0;

    transform: translateY(8px);
    transition: all ease-in 0.3s;
}
.copyBtnDiv p{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #111;
    padding: 3%;
    color: white;
    border-radius:5px ;
    font-size: 0.8em;
}
.generatedApiPart{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.generatedApiPart:hover{
    .copyBtnDiv{
        opacity: 1;
        display: flex;
        transform: translateY(0px);
    }
}
.secKeyCreate button{
    padding: 5%;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.secKeyCreate{
    position: relative;
}
.allBlur{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.spinnerPart{
    left: 0;
    z-index: 2;
    position: absolute;
    left: -12%;
    /* top: revert-layer; */
    bottom: -27%;
    scale: 0.8;
    z-index: 1;
}

#ifNoKey{
    text-align: center;
    /* width: 22%; */
    width: 100%;
    height: 50svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#ifNoKey:hover{
    #imageHoverNoKey{
        opacity: 0.3;
    }
}
#imageShowTableNoKey{
    
    position: relative;
    display: flex;
    justify-content: center;
}
#ifNoKey img{
    width: 30%;
}
#ifNoKey p{
    color: #333;
    font-size: 2em;
}
#imageHoverNoKey{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
}
.searchLogs{
    width: 70%;
    display: flex;
    justify-content: right;
}
.filterBtnDiv button{
    width: 30px;
    border: none;
    cursor: pointer;
    background-color: #D6223A;
    color: white;
    height: 30px;
    border-radius: 5px;
}

.searchLogs{
    align-items: center;
    display: flex;
    gap: 10px;
    height: 100%;
}
.searchLogsSpan{
    background-color: white;
    height: 51%;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 32%;
    position: relative;
    border-radius: 5px;
}
.searchLogsPiSearch{
    
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

}
.searchLogsSpan input{
    border: none;
    height: 100%;
    padding: 1%;
    font-size: 0.9em;
}
.searchLogsSpan button{
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    font-weight: 100;
    color: #444;
}
.filterDiv{
    position: relative;
}
#filterMenuDiv{
    z-index: 2;
    position: absolute;
    right: 1%;
    background-color: white;
    padding: 25%;
    border-radius: 8px;
    width: 12vw;
    margin-top: 35%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.field-checkbox{
    padding: 4%;
    font-size: 0.8em;
}
#filterByH{
    padding: 5%;
}
#downloadLogs{
    position: fixed;
    width: 11%;
    bottom: 5%;
    z-index: 5;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
#downloadLogs button{
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: none;
    font-size: 2em;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: #148247;
    border-radius: 70px;
    z-index: 2;

}
#downloadShowLabl{
    background-color: black;
    padding: 4%;
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    border-radius: 5px;
    transform: translateY(10px);
    z-index: 2;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
#downloadLogs:hover{
    #downloadShowLabl{
        opacity: 1;
        transform: translateY(0);
    }
}
.timePartOnLogs{
    font-size: 0.8em;
    border-radius: 5px;
    padding: 3%;
    position: absolute;
    background-color: #111;
    color: white;
    top: -30%;
    opacity: 0;
    transform: translateY(5px);
    transition: all ease-out 0.1s;
}
.generatedApiPart:hover{
    .timePartOnLogs{
        opacity: 1;
        transform: translateY(-3px);
    }    
}


@media only screen and (max-width: 600px) {
    .grey_font {
        font-size: 10px;
    }

    #desc_page_name {
        font-size: 15px;
    }

    table {
        font-size: 10px;
    }
    
    #downloadLogs button {
        width: 40px;
        height: 40px;
        font-size: 1em;
    }

}
.reqBtnApiLogs{
    display: flex;
    justify-content: center;
}

.calenderDiv{
    display: flex;
    width: 50%;
    gap: 20px;
}
.calEach{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#table_container{
    height: 72svh;
    overflow-y: auto;
}