/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}
body, html{
    height: 100%;
}

.p-toast-message {
    /* padding:2%; */
    margin: 15px;
    /* height: 20vh; */
}

.p-toast-summary {
    margin: 0 10px;
}

.redBtnEffect {
    /* background-color: #D6223A; */
    position: relative;
    overflow: hidden;
    border: none;
}

.redBtnEffect::after {
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    opacity: 0.1;
    cursor: pointer;
    background-color: black;
    left: 0;
    transition: all ease-in-out 0.3s;
    /* z-index: -1; */
    color: white;
}

.redBtnEffect:hover::after {
    width: 100% !important;
}

.p-sidebar-right {
    width: 30rem;
}

.p-sidebar-header {
    display: none;
}

.pCheckboxFilter {
    gap: 7%;
    width: 100%;
}



.p-menu-list {
    display: flex;
    flex-direction: column;
}

.p-menu-list li {
    height: 4vh;
}

.p-menu-list li div {
    width: 100%;
    padding: 2%;
    display: flex;
    height: 100%;
    align-items: center;
}

.p-menu-list li div a {
    height: 100%;
}

.timePartOnLogs {
    font-size: 0.8em;
    border-radius: 5px;
    padding: 3%;
    position: absolute;
    background-color: #111;
    color: white;
    top: -30%;
    opacity: 0;
    transform: translateY(5px);
    transition: all ease-out 0.1s;
}

.generatedApiPart:hover {
    .timePartOnLogs {
        opacity: 1;
        transform: translateY(-3px);
    }
}

.inputDivSidebar {
    background-color: #F9FAFB;
    height: 8vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    border: 2px solid #c8d9e9;
    border-radius: 10px;

}

.inputDivSidePara {
    padding-left: 15px;
    position: absolute;
    top: 2px;
    font-weight: bold;
    color: #c3c5cd;
    z-index: 2;
}

.inputDivSideInp {
    background-color: #F9FAFB;
    height: 30%;

    width: 80%;
}

.inputDivSideInp input {
    background-color: #F9FAFB;
    border: none;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 41px;
    padding: 15px;
    color: #9E9FA2;
    font-weight: 400;

}

.inputDivSideInp input:focus {
    outline: none;
}

.p-confirm-dialog div {
    padding: 5%;
}

.p-confirm-dialog .p-dialog-content {
    display: flex;
    gap: 10px;
}

.p-confirm-dialog .p-dialog-footer button {
    width: 19%;
    margin: 0 5%;
    height: 4vh;
}

.p-calendar input {
    padding: 5%;
}

.p-splitter .p-splitter-gutter {
    background-color: #b0e1e4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 14px;
    transition: all ease-out 0.2s;
}

.p-splitter .p-splitter-gutter:hover {
    background-color: #74a3a7;
    width: 0.5%;
}

.p-splitter-horizontal>.p-splitter-gutter>.p-splitter-gutter-handle {
    border-radius: 12px;
    background-color: #444;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    background: white;
    /* border: #D6223A; */
    border: 2px solid #D6223A;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background: #D6223A;
    border: #D6223A;


}

.p-radiobutton {
    scale: 0.8;
}

#output_table .p-datatable-thead {
    display: none;
}

#input_table .p-datatable-thead {
    display: none;
}

.p-progressbar .p-progressbar-value {
    
    background: #D6223A;
}

.calEach .p-ripple{
    border-radius: 0;
}

.calEach .p-datepicker table td.p-datepicker-today > span{
    background-color: transparent;
}

.calEach .p-datepicker table td > span.p-highlight {
    color: #fff;
    background: #D6223A;
}

.psliderInfoDiv .p-slider-horizontal .p-slider-handle {
    /* top: 50%; */
    top: -100%;
}

.multiselect-dropdown[_ngcontent-ng-c1411523848] .dropdown-btn[_ngcontent-ng-c1411523848] .selected-item-container[_ngcontent-ng-c1411523848] .selected-item[_ngcontent-ng-c1411523848] {
    border: 1px solid #D6223A !important;
    background: #D6223A !important;
    
}

.multiselect-item-checkbox[_ngcontent-ng-c1411523848] input[type=checkbox][_ngcontent-ng-c1411523848]:checked+div:before {
    background: #D6223A !important;
    border: 2px solid #D6223A;
}

.multiselect-item-checkbox[_ngcontent-ng-c1411523848] input[type=checkbox]+div[_ngcontent-ng-c1411523848]:before {
    border: 2px solid #D6223A !important;
}

.p-multiselect-item{
    display: flex;
    gap: 6%;
}