<div class="card">
    <div class="card_container">
    <div class="showAllCountsByKey">
        <div class="showCount1Key">
            <p>Successful Requests</p>
            <h2>{{this.totalSucReq}}</h2>
        </div>
        <div class="showCount2Key">
            <p>Unsuccessfull requests</p>
            <h2>{{this.totalUnsucReq}}</h2>
        </div>
        <div class="showCount2Key">
            <p>Total Requests</p>
            <h2>{{this.totalReq}}</h2>
        </div>
    </div></div>
    <p-tabView>
        <p-tabPanel header="Usage by Application Name">
            <p-sidebar [(visible)]="sidebarVisible2" position="right">
                <div class="rSideBar">
                    <h2>Timeline configuration</h2>
                    <div class="card flex justify-content-center psliderInfoDiv">
                        <p-slider [(ngModel)]="valueTimeline" [step]="20"></p-slider>
                    </div>
                </div>
            </p-sidebar>
            <div class="usageByKeyDiv">
                <div class="UpperFiltersusageByKey">
                    <div class="card flex justify-content-center">
                        <p-dropdown (onChange)="handleOnKeyChange()" [options]="dropDown1p1"
                            [(ngModel)]="selectedDropDown1p1" optionLabel="name"
                            placeholder="Select Application Name"></p-dropdown>
                    </div>

                    <div class="card flex justify-content-center">
                        <p-dropdown (onChange)="handleOnApiUsageChangep1()" [options]="dropDown2p1"
                            [(ngModel)]="selectedDropDown2p1" optionLabel="name"
                            placeholder="Select Graph"></p-dropdown>
                    </div>
                    <div *ngIf="selectedDropDown2p1?.code === '1'" class="card flex justify-content-center">
                        <p-dropdown (onChange)="handleOnApiYearChangep1()" [options]="dropDown3p1"
                            [(ngModel)]="selectedDropDown3p1" optionLabel="name" placeholder="Select Year"></p-dropdown>
                    </div>
                    <div *ngIf="selectedDropDown2p1?.code === '1'" class="card flex justify-content-center">
                        <p-button (click)="sidebarVisible2 = true" [style]="{backgroundColor:'#D6223A', color:'white', border:'none', display:'flex', gap:'5px'}"><i class="fa-solid fa-gears"></i> <span>Configure</span></p-button>
                    </div>
                </div>

            </div>

            <div class="usageByKeyGraphDisplay">

                <div *ngIf="selectedDropDown2p1?.code === '0'" class="card flex justify-content-center">
                    <p-chart type="pie" [data]="dataPieP1" [options]="optionsPieP1"></p-chart>
                </div>
                <div *ngIf="selectedDropDown2p1?.code === '1'" class="card" [style]="{width:'2000px'}">
                    <p-chart type="line" [data]="dataLineAppli" [options]="optionsLineAppli"></p-chart>
                </div>

                
            </div>
        </p-tabPanel>
        <p-tabPanel (click)="this.panelViewNum = 2" header="Infographics">
            <h1 >Infographics</h1>
            <div class="container-div">
            <div class="container">
          
            <div class="TotalFetchesInfo">
               
                <div class="ulipDataAnalysisFetchPie">
                 
                    <h2>Ulip Usage</h2>
                  
                    <div [style]="{width:'30%'}" class="card flex justify-content-center">
                        <p-chart type="pie" [data]="dataInfoUlip" [options]="optionsInfoUlip"></p-chart>
                    </div>
                
                    
                </div>

                <div class="ulipDataAnalysisFetchPie1">
                   
                    <div [style]="{width:'60%'}" class="card flex justify-content-center ">
                        <p-chart type="line" [data]="dataLineAll" [options]="optionsLineAll"></p-chart>
                    </div>
                    <h2>API Counts</h2>
               
                </div>
            </div>
        </div></div>
        </p-tabPanel>
    </p-tabView>
</div>