<!--<app-side-bar (keyCardAdd)="addKeyCard($event)"></app-side-bar>-->
<div class="allBlur" *ngIf="keypage.createKeyBool"></div>


<div id="page_desc_container">
    <div id="page_desc">
        <div id="desc_home" class="grey_font">Home</div>
        <div id="desc_page_name">User Access</div>

    </div>
    <div id="create_keys_button_div">
        <!--        <button id="create_keys_button" (click)="handleOnCreate()" class="redBtnEffect"> + Create</button>-->
    </div>
</div>

<div id="history_keys_title" class="grey_font">User Table Data</div>
  <!-- <div class="input-group">
    <input type="text" class="form-control" placeholder="Search users..." [(ngModel)]="searchTerm" (input)="filterUsers()">    <i class="fa fa-search"></i>
</div> -->
<div class="input-group" style="padding: 10px 0;">
    <div class="search-container">
        <input 
          type="text" 
          class="form-control search-input" 
          placeholder="Search users..." 
          [(ngModel)]="searchTerm" 
          (input)="filterUsers()"
        >
      </div>
      
  </div>
<div id="table_container">
    <table>
        <table>
            <thead>
            <tr>
                <th>User Name</th>
                <th>Token Id</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Role Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                <td>{{user.username}}</td>
                <td>{{user.tokenId}}</td>
                <td>{{user.contactNo}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roleName || '---'}}</td>
                <td>{{user.status || '---'}}</td>
                <td style="display: flex; align-items:center">
<!--                    <button-->
<!--                            class="active-button"-->
<!--                            [ngClass]="{'inactive': user.status === 'Active', 'active': user.status !== 'Active'}"-->
<!--                            (click)="activeUser(user)">-->
<!--                        {{ user.status === 'Active' ? 'De-Activate' : 'Activate' }}-->
<!--                    </button>-->
                    <button *ngIf="user.status !== 'Active'"
                            class="active-button"
                            (click)="active(user)">Activate
                    </button>

                    <button *ngIf="user.status === 'Active'"
                            class="deactive-button"
                            (click)="deActiveUser(user)">De-activate
                    </button>&nbsp;&nbsp;
                    <button class="user-edit-button" (click)="editUser(user.username)">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </table>
    <pagination-controls class="cust-pagination" (pageChange)="page = $event"></pagination-controls>
</div>

<!-- edit user modal -->

<p-dialog header="Edit User" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" *ngIf="editUserObj">
    <div class="input-row">
        <div class="input_container">
            <p class="label_font">User Name :</p>
            <input autocomplete="off" type="text" id="username_input" class="input_field" [(ngModel)]="editUserObj.username" disabled>
        </div>

        <div class="input_container">
            <p class="label_font">Contact No :</p>
            <input autocomplete="off" type="text" id="contact_input" class="input_field" [(ngModel)]="editUserObj.contactNo">
        </div>
    </div>
    <div class="input-row">
        <div class="input_container">
            <p class="label_font">E-mail :</p>
            <input autocomplete="off" type="text" id="email_input" class="input_field" [(ngModel)]="editUserObj.email">
        </div>
        <div class="input_container">
            <p class="label_font">Token Id :</p>
            <input autocomplete="off" type="text" id="token_input" class="input_field" [(ngModel)]="editUserObj.tokenId">
        </div>
    </div>
    <div class="input-row">
        <div class="input_container">
            <select [(ngModel)]="selectedRole"
                    name="valueCheck" (change)="valueChange($event)" class="custom-select">
                <option [ngValue]="undefined" disabled>Select Any</option>
                <option *ngFor="let obj of roleArray"
                        [ngValue]="obj.roleId" [selected]="obj.roleId == selectedRole"> {{ obj.roleName }}
                </option>
            </select>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="displayModal=false" label="Update" class="p-button-text" (onClick)="updateUser()"></p-button>&nbsp;&nbsp;
        <p-button  (click)="displayModal=false" label="Cancel" class="p-button-text "></p-button>
    </ng-template>
</p-dialog>


