
/* #sideBarContent{
    width: 100%;
    background-color:white ;
    z-index: 2;

    height: 100svh;
    padding: 2%;
    display: flex;
    padding: 8%;
    flex-direction: column;
    gap: 25px;
    position: relative;
}


#allInputsSideBar{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#upperSideBarSection{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#cross_button {
    height: 17px;
    width: 17px;
}
#h2Sidebar h2{
    color: black;
    font-weight: 550;
}
#sideBarPara p{
    color: #323233;
    font-weight: 500;
}



#submitOptionKey{
    width: 100%;
    height: 6vh;
    
    bottom: 0;

}
#submitOptionKey button{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #D6223A;
    color: white;
}
#submitOptionKeyOuterDiv{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
}
#closeSideBar{
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: #222;
    position: absolute;
    right: 8%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    background-color: #f3f3f3;
    cursor: pointer;
    border: none;
} */




#sideBarContent {
    height: 100svh;
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    background-color:white ;
    z-index: 2;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title_container {
    width: 100%;
    display: flex;
}
#text_container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

#text_container h1 {
    color: black;
    font-weight: 550;
}

#text_container h5 {
    color: #323233;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#close_btn_container {
    width: 10%;
    display: flex;
    align-items: start;
    justify-content: end;
}

#closeSideBar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    cursor: pointer;
    border: none;
}

#menu_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.inputs_container {
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}
.input_label {
    width: 100%;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 600;
    color: #9FA8B2;
    opacity: 75%;
}

.inputs_container input {
    width: 100%;
    border: none;
    background-color: #F9FAFB;
}
.inputs_container input::placeholder {
    color: #707175;
}


textarea:focus, input:focus{
    outline: none;
}

#ip_config_title {
    font-size: 14px;
    color: #676767;
    font-weight: bold;
    
}
#radio_options {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}
.option_container {
    width: 100%;
    color: #707175;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.option_container input[type=radio] {
    accent-color: #D6223A;
}

#radio_labels {
    font-size: 16px;
}
.bold {
    font-weight: 550;
}

#buttons_container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


#submitOptionKey {
    height: 50%;
    width: 100%;
}

#submitOptionKey button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #D6223A;
    color: white;
    font-weight: bold;
}

#cancelOptionKey {
    height: 50%;
    width: 100%;
}

#cancelOptionKey button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: black;
    
}